@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Proxima Nova Lt', sans-serif;
    font-size: 14px;
    color: #111826;
}

/*---Media Queries --*/
@media (max-width: 992px) {
    .nav-link {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .nav-link {
        font-size: 22px;
    }
}

@media (max-width: 576px) {
    .nav-link {
        font-size: 22px;
    }
}

.filterDiv {
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

.col- {
    padding: 0;
}

.card-img-overlay {
    color: white;
    margin-bottom: 215px;
    text-shadow: 1px 1px 5px #111826;
}

.card {
    margin: 20px;
    border-color: #576970;
    border-radius: .4rem;
}

.card-title {
    font-size: 20px;
    line-height: 1.1;
}

.card-body .card-title {
    font-size: 16px;
}

.card-text {
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.1;
}

.bottom-align-text {
    position: absolute;
    bottom: -15px;
}

.crop-text-2 {
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

hr {
    border-top: 1px solid #9EB1BA;
}

a {
    color: #304963;
    font-weight: bold;
    text-decoration: underline;
}

.h2 {
    font-size: 3.0vh;
    text-decoration: none;
}

.h2:hover {
    text-decoration: none;
}

h3 {
    font-size: 3.0vh;
}

h4 {
    font-size: 2.5vh;
}

.tab button {
    font-size: 2.0vh !important;
    padding: 15px 10px !important;
}

.media-body {
    font-family: 'Proxima Nova Lt', sans-serif;
    font-size: 17px;
    font-weight: lighter;
    color: #111826;
}

#main1 {
    background-color: #F8F9FA;
    margin-top: 2.5vw;
    padding: 2vw;
    box-shadow: 2px 2px 10px #A4B8C1;
    font-size: 16px;
}

#main2 {
    background-color: #F8F9FA;
    margin-top: 2.5vw;
    margin-bottom: 3vw;
    padding: 2vw;
    box-shadow: 2px 2px 10px #A4B8C1;
    font-size: 16px;
}

#maincontent img {
    box-shadow: 1px 1px 8px #A4B8C1;
}

#maincontentprogram {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10vw;
    padding-left: 10vw;
}

#maincontentprogram2 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 18vw;
    padding-left: 18vw;
}

legend {
    float: left;
    margin: 0;
    padding: 5px 15px;
    background-color: #F8F9FA;
    border-bottom: 1px solid #CCDCE6;
}

a:hover {
    color: slategrey;
}

.display-4 {
    font-size: 6.0vh;
}

.skiplink {
    position: absolute;
    left: -10000px;
}

/*--- Form --*/

form {
    padding: 3rem;
}

form[role="search"] {
    padding: 0 !important;
}

.form-group {
    margin-bottom: 0;
}

.form-row {
    padding: 0px 10px;
}

fieldset {
    border: 1px solid #9EB1BA;
    border-radius: 3px;
    margin-bottom: 20px;
}

/*-- Carousel --*/

.carousel-fade .carousel-item {
    height: 32rem;
    background: #111826;
    color: white;
    transition: opacity ease-out 0.7s;
}

.bg-image {
    height: 32rem;
    background: #111826;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
}

.carousel-caption {
    position: absolute;
    text-align: left;
    bottom: 60px;
}

.carousel-caption h5 {
    font-size: 4vh;
    text-shadow: 2px 2px 10px #111826;
}

.carousel-caption p {
    font-size: 3vh;
    text-shadow: 1px 1px 10px #111826;
}

/*-- Buttons --*/

.btn {
    background-color: #F8F9FA;
    color: #111826;
    margin: 5px;
}

.btn:hover {
    background-color: #304963;
    color: white;
}

.btn-primary {
    background-image: linear-gradient(to right, rgba(0, 149, 0, 0.89) 0%, rgba(0, 191, 18, 0.68) 51%, rgba(0, 46, 10, 0.83) 100%)
}

.btn-primary {
    margin: 10px;
    padding: 5px 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white !important;
    border: none;
    font-weight: bold;
    text-shadow: 1px 1px 7px #005329;
    width: 80px;
}

.btn-primary:hover {
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(to right, rgba(64, 10, 0, 0.85) 0%, rgba(106, 13, 15, 0.68) 51%, rgba(46, 1, 0, 0.83) 100%)
}

.btn-success {
    background-image: linear-gradient(to right, rgba(8, 106, 154, 0.78) 0%, rgba(57, 191, 180, 0.68) 51%, rgba(6, 40, 57, 0.95) 100%)
}

.btn-success {
    margin: 10px;
    padding: 5px 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white !important;
    border: none;
    font-weight: bold;
    text-shadow: 1px 1px 7px #074973;
    width: 80px;
}

.btn-success:hover {
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(to right, rgba(8, 54, 80, 0.89) 0%, rgba(30, 100, 89, 0.81) 51%, rgba(6, 40, 57, 0.95) 100%);
}

.btn-danger {
    background-image: linear-gradient(to right, rgba(229, 78, 53, 0.99) 0%, rgba(212, 98, 0, 0.85) 51%, rgba(52, 17, 14, 0.89) 100%)
}

.btn-danger {
    margin: 10px;
    padding: 5px 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white !important;
    border: none;
    font-weight: bold;
    text-shadow: 1px 1px 7px #9b2d00;
    width: 80px;
}

.btn-danger:hover {
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(to right, rgba(108, 37, 28, 0.89) 0%, rgba(122, 61, 0, 0.77) 51%, rgba(52, 17, 14, 0.89) 100%);
}

.btn-warning {
    background-image: linear-gradient(to right, rgb(97, 67, 133) 0%, rgb(81, 99, 149) 51%, #352448 100%)
}

.btn-warning {
    margin: 10px;
    padding: 5px 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white !important;
    border: none;
    font-weight: bold;
    text-shadow: 1px 1px 7px #9b2d00;
    width: 80px;
}

.btn-warning:hover {
    background-image: linear-gradient(to right, rgb(47, 31, 63) 0%, rgb(32, 45, 68) 51%, #1a1224 100%);
    color: #fff;
    text-decoration: none;
}

.btn-light {
    background-image: linear-gradient(to right, #dce4ea 0%, #f0f0f0 51%, #9eb1ba 100%)
}

.btn-light {
    margin: 9px;
    padding: 4px 10px;
    text-align: center;
    transition: 0.2s;
    background-size: 200% auto;
    color: #111826 !important;
    font-weight: bold;
    border: 1px solid #9EB1BA;
    width: 80px;
}

.btn-light:hover {
    color: #fff !important;
    text-decoration: none;
    background-image: linear-gradient(to right, rgba(49, 100, 133, 0.75) 0%, rgba(106, 153, 195, 0.85) 51%, #9eb1ba 100%);
}

#filter {

}

/*-- Dropdown --*/

.dropdown-menu {
    background-color: rgba(248, 249, 250, 0.8);
    border: 0px;
    border-radius: 0;
    padding: 0;
    margin: 1.3rem;
}

.dropdown-divider {
    margin: 0;
}

.dropdown-item {
    text-decoration: none;
    font-size: 1.4rem;
}

.dropdown-item:hover {
    background-color: rgba(10, 30, 55, 0.4);
}

/*-- Navigation --*/

.nav-link {
    size: 1.3em !important;
    color: #111826;
    text-decoration: none;
    font-weight: normal;
    padding: 0 5px 0 5px;
}

.nav-link:hover {
    color: slategrey;
}

.nav-item {
    font-size: 2.4vh;
    padding-left: 10px;
    padding-right: 10px;
    color: #111826;
}

.nav-item:hover {
    color: #A4B8C1;
}

/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0 !important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {

    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

::-webkit-input-placeholder {
    color: #9EB1BA;
}

::-moz-placeholder {
    color: #9EB1BA;
}

/*--Search Form --*/

.search-focus {
    background: url(Images/search-512.webp) no-repeat left;
    border: 1px solid transparent;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    padding: 25px;
    transition: all .5s;
}

.search-focus:focus {
    width: 200px;
    padding-left: 50px;
}

.search-hover {
    background: url(http://www.iconsdb.com/icons/preview/white/search-12-xxl.png) no-repeat left;
    border: 1px solid #9EB1BA;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    padding: 25px;
    transition: all .5s;
}

.search-hover:hover {
    width: 200px;
    padding-left: 50px;
}

.search-click {
    position: relative;
    overflow: hidden;
    height: 30px;
}

.search-click input {
    background: transparent;
    border: 1px solid #9EB1BA;
    outline: none;
    position: absolute;
    width: 200px;
    height: 30px;
    left: 0%;
    padding: 10px;
}

/*-- Tabs --*/
.nav-tabs {
    float: left;
    border-right: 1px solid #9EB1BA;
    border-left: 1px solid #9EB1BA;
    border-top: 1px solid #9EB1BA;
    background-color: #304963;
    width: auto;
    height: 80px;
}

.nav-tabs button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 19px 16px;
    width: auto;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
}

.nav-tabs button:hover {
    background-color: #F8F9FA;
    color: #111826;
}

.nav-tabs button.active {
    background-color: #F8F9FA;
    color: #111826;
}

.tabcontent {
    float: left;
    padding: 10px 25px;
    border: 1px solid #9EB1BA;
    width: 100%;
    margin-bottom: 40px;
    font-size: 14px;
    background-color: #F8F9FA;
}

/*-- Table --*/

thead {
    font-size: 18px;
}

td {
    width: 24%;
}

.table-success {
    background-color: #A61639;
    color: white;
    text-shadow: 1px 1px 5px #3b0b0c;
}

.table-danger {
    background-color: #268B8F;
    color: white;
    text-shadow: 1px 1px 5px #0a232d;
}

.table-warning {
    background-color: #CC6D13;
    color: white;
    text-shadow: 1px 1px 5px #741915;
}

.table-info {
    background-color: #524972;
    color: white;
    text-shadow: 1px 1px 5px #1a1630;
}

.table-dark {
    background-color: #304963;
}

@media only screen and (max-width: 760px), (min-device-width: 768px), (max-device-width: 1024px) {

    table, thead {
        display: block;
    }

    /*
        thead tr{
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr{ border: 1px solid #A4B8C1}

        td{
            border: none;
            border-bottom: 1px solid #A4B8C1;
            position: relative;
            padding-left: 50%;
        }

        td:before{
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

    */

}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/



